<% provide(:title, '商品購入') %>

	<div class="row">
		<div class="col-md-12">
			<p class="pull-left"><%= image_tag('/photos/DSC_1122.jpg', :size => "100x120", :class => "img-rounded") %></p> 
			<h4>&nbsp;RED BULL Blue Edition </h4>
			<h4>&nbsp;10,000point</h4>  
		</div>
	</div>
    
	<br>
      
	<div class="col-md-12">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="active">保有ポイント</td>
					<td>25,000ポイント</td>
				</tr>
				<tr>
					<td class="active">利用ポイント</td>
					<td>10,000ポイント</td>
				</tr>
				<tr>
					<td class="active">残ポイント</td>
					<td>15,000ポイント</td>
				</tr>
			</tbody>
		</table>
	</div>
      
	<br>
      
	<div class="col-md-12">
		<table class="table table-bordered">

			<tbody>
				<tr>
					<td class="active">交換方法</td>
					<td>公民館</td>
				</tr>
				<tr>
					<td class="active">交換日時</td>
					<td>2015年7月3日(金)</td>
				</tr>
			</tbody>
		</table>
	</div>

	<br><br>
    
	<!-- 購入ボタン
	================================================== -->
	<div class="col-md-12">
		<button type="button" class="btn-lg btn-danger btn-block" onclick="location.href='./item_buy.html'">購入手続きへ</button>
	</div>
	
	<br><br>
