<% provide(:title, '購入手続き完了') %>

  <div class="alert alert-warning" role="alert">
    <h4>購入手続きが完了しました</h4>
       商品が受け取られましたら、本システムへのアンケートのご協力をお願いします。
  </div>
    
  <div class="col-md-12">
    <ul class="list-group">
      <a href="#" class="list-group-item">購入した後の流れ<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
      <a href="#" class="list-group-item">購入者のよくある質問<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
    </ul>
  </div>



      <!-- 購入ボタン
      ================================================== -->
      <div class="col-md-12">
        <%= button_to "商品選択画面に戻る", items_path, class:"btn-lg btn-danger btn-block", :method => :get %>
      </div>
      <br><br>


