<%= link_to new_user_item_path do %>
  <div id="stock_regist" class="camera-base">
    <span class="glyphicon glyphicon-camera camera" aria-hidden="true"></span>
    <br>
    <p class="camera-text">登録</p>
  </div>
<% end %>

