<% provide(:title, 'Stock list') %>

        <%= render 'tabs' %>

        <%= render 'body' %>


        <%= render 'regist' %>


      </div><!--row-->

      <%= javascript_include_tag 'stocks/index' %>
