    <!-- thumbnail -->
      <div class="row">
            <div class="col-xs-6 col-md-3">
              <div class="thumbnail">
                <a href="./item_info.html">
                  <%= image_tag('/photos/DSC_1122.jpg', :class => "img-rounded") %>
                </a>
                <div class="infos">
                  <h4>RED BULL Blue Edition</h4>
                  <div class="glyphicon glyphicon-star"></div>123 
                  <div class="glyphicon glyphicon-pencil"></div>456 
                  <div class="price">&yen;10,000</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="thumbnail">
                <a href="./item_info.html">
                  <%= image_tag('/photos/DSC_1064.jpg', :class => "img-rounded") %>
                </a>
                <div class="infos">
                  <h4>サラダ</h4>
                  <div class="glyphicon glyphicon-star"></div>123 
                  <div class="glyphicon glyphicon-pencil"></div>456 
                  <div class="price">&yen;10,000</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="thumbnail">
                <a href="./item_info.html">
                  <%= image_tag('/photos/DSC_1114.jpg', :class => "img-rounded") %>
                </a>
                <div class="infos">
                  <h4>カクテル</h4>
                  <div class="glyphicon glyphicon-star"></div>123 
                  <div class="glyphicon glyphicon-pencil"></div>456 
                  <div class="price">&yen;10,000</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="thumbnail">
                <a href="./item_info.html">
                  <%= image_tag('/photos/DSC_1122.jpg', :class => "img-rounded") %>
                </a>
                <div class="infos">
                  <h4>RED BULL Blue Edition</h4>
                  <div class="glyphicon glyphicon-star"></div>123 
                  <div class="glyphicon glyphicon-pencil"></div>456 
                  <div class="price">&yen;10,000</div>
                </div>
              </div>
            </div>
            

      <a href="./item_regist.html">
        
        <div id="item_regist" class="camera-base">
          <span class="glyphicon glyphicon-camera camera" aria-hidden="true"></span>
          <br>
          <p class="camera-text">出品</p>
        </div>
      </a>
      </div>
